/*************** blå progress bar i toppen af siden ***********/

/* before betyder inde i html men før alt andet indhold */
/* content skal man skrive for at putte noget ind, men vi skriver ikke noget derinde fordi vi ikke skal have indhold ind, men derimod bare en bar. Så vi siger at der skal noget ind og bagefter definerer hvad det er der skal ind */
/*  så indsætter vi noget, egentlig bare et eller andet og giver det en background color*/
html::before {
  content: "";
  inset: 0;
  background-color: #164b7a;

  /* block size det er højden, (en anden måde at skrive højde på) som sørger for at den opfører sig som en lille kasse */
  block-size: 4px;

  /* i animationen skriver vi "both" på fill-mode gør at animationen bliver i stillingen, så den ikke "hopper" tilbage til startpunkt. Det er "both" der gør at den røde linje vil være helt fyldt ud når man er nede i bunden af siden, og forbliver der --> visuel indikator for hvad der er sket (altså at vi er nået bunden af siden) */
  animation: site-progress linear both;

  /* den skal ikke være på tid, men derimod styret af scroll */
  animation-timeline: scroll();

  /* det er vigtigt at skrive position: fixed fordi det betyder at det er oppe i toppen og den bliver i toppen */
  position: fixed;

  /* siger hvor den skal være, den er per default i center men vi vil gerne have at den starter ude til venstre */
  transform-origin: 0 0;

  /* for at være sikker på baren altid er yderst skriver man tyspisk et z-indeks på 1000, det er sjældent man skriver det så højt men på 1000 er den helt fremme - ellers vil man normalt give spring af 10.
  Fordi vi har sat vores header til at have et z-indeks på 1000 laver jeg et z-indeks på 1001 på progress baren (den skal jo ligge forrest for at man kan se den) */
  z-index: 1001;
}

/* nu skal vi lave keyframes til den, og vi kalder den "site-progress"  */
/* vi siger den skal starte (scale starter per default i midten af siden, men ved at sige 0 i højden og en i siderne så er det kun siderne der vokser */
/* vi skriver kun from (og ikke også to), fordi baren som udgangspunkt er fyldt helt ud */
@keyframes site-progress {
  from {
    scale: 0 1;
  }
}

/*****BOX1*****/
.box1 {
  background-color: var(--color-bg);
}
.h1-forløb {
  margin-top: 2rem;
  margin-left: 2rem;
}
.grid_1-1 {
  padding-top: 4rem;
  margin-inline: 5rem;
}
.beskrivelse {
  margin-top: 1rem;
  padding: 0rem;
  margin-inline: 5px;
  margin-bottom: 2rem;
  max-width: 65ch;
}
.værdiord {
  color: var(--color-h1-h2);
  margin-bottom: 2rem;
}
.værdiord_btn {
  text-align: center;
  padding-bottom: 4rem;
  padding-top: 3rem;
}

.behandling-billede {
  width: 100%;
  border: var(--color-header) 6px solid;
}

@media (min-width: 768px) {
  .grid_1-1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: start; /* Juster indholdet i toppen af hver kolonne */
    gap: 1rem;
    padding-right: 2rem;
  }
  .behandling-billede {
    width: auto;
    height: 400px;
    position: relative; /* Gør det muligt at placere værdiord_btn over billedet */
    padding-top: 0;
    margin-top: 3rem;
    margin-left: 4rem;
  }
}

/***BOX2 iconer***/
.iconer {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  flex-direction: column;
  margin-block: 4rem;

}
.iconer img {
  width: 150px;
  height: auto;
}
@media (min-width: 768px) {
  .grid_1-1-1-1 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin: 0;
    padding: 0;
    gap: 2px;
  }
  .iconer {
    margin-bottom: 4rem;
    margin-top: 6rem;
  
  }
}

/********BOX3*****/
/***
.box3 styrer hele baggrunden
.innerbox3 er bare et “kort” inde i den (ikke absolute!)
Ingen overlap-problemer
Tekst er inde i den mørke box***/

.box3 {
  background-color: var(--color-box-bg);
  width: 100%;
  padding: 3rem;
}

.innerbox3,
.innerbox3_2 {
  display: flex;
  flex-direction: column;
  background-color: var(--color-bg);
  border-radius: 10px;
  margin-bottom: 1rem;
}
.special_h3 {
  color: var(--color-h1-h2);
  padding-inline: 2rem;
  margin-top: 40px;
  margin-bottom: 10px;
}
.banner_3 h2 {
  display: inline block;
  background-color: var(--color-header);
  width: fit-content;
  border-radius: var(--border-radius-title-box);
  padding-right: 30px;
  padding-block: 15px;
  margin-top: 30px;
  padding-left:25px
}

.certifikat {
  width: 30%;
  display: flex;
  justify-content: end;
  justify-content: space-between;
  align-items: center;
  margin-left: auto;
}

.tekst_box3 {
  padding-inline: 30px;
  margin-bottom: 20px;
  max-width: 65ch;
}

@media (min-width: 768px) {
  .box3 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: var(--color-box-bg);
    gap: 20px;
  }

  .banner_3 h2{padding-left:50px;}
  .certifikat {
    width: 40%;
    display: flex;
    justify-content: flex-end;
    padding-inline: 2rem;
    padding-bottom: 2rem;
    margin-left: auto;
  }

  .innerbox3,
  .innerbox3_2 {
    display: flex;
    flex-direction: column;
    background-color: var(--color-bg);
    border-radius: 10px;
  }
  .tekst_box3 {
    padding-inline: 30px;
    margin-bottom: 20px;
  }
}

/********BOX4*****/
.box4 {
  background-color: var(--color-header);
  border: 4px solid var(--color-header);
  position: relative; /* Gør det muligt at placere banneret inden for denne boks */
  width: 100%; /* Gør boksen fuld bredde */
  padding: 3rem; /* Tilføjer indvendig margin for at give plads til indholdet */
}
.btn_box4 {
  justify-content: center;
  font-family: var(--font-p-og-button);
  font-size: 1rem;
  letter-spacing: var(--font-letter-spacing);
  color: var(--color-btn1-font);
  background-color: var(--color-btn1-bg);
  border-radius: var(--border-radius-btn);
  box-shadow: var(--box-shadow);
  border: none;
  padding: var(--padding-btn);
  margin: auto;
  margin-block: 5rem;
  display: block;
}

.btn_box4:hover {
  background-color: var(--color-btn1-bg-hover);
}
.innerbox4 {
  width: 100%; /* Gør boksen fuld bredde */
  border-radius: 10px;
  padding-top: 2rem;
  background-color: var(--color-bg);
}
.grid_1-1_box4 {
  padding-inline: 30px;
  margin-block: 3rem 2rem;
}

.speciel_teks_box4 {
  color: var(--color-footer);
  font-style: italic;
}

.banner_4 {
  display: flex;
  margin-right: auto;
  background-color: var(--color-header);
  width: fit-content;
  border-radius: 6px 5px;
  padding-right: 30px;
  padding-block: 15px;
  max-width: 65ch;
  padding-left:25px;
}
.cirkel_box4 {
  display: grid;
  justify-items: center;
  gap: 3rem;
  margin-block: 2rem;
}

.cirkel1,
.cirkel2,
.cirkel3,
.cirkel4 {
  width: 200px; /* Gør cirklen kvadratisk */
  height: 200px; /* Gør cirklen kvadratisk */
  background-color: var(--color-banner-bg);
  border-radius: 50%; /* Gør elementet til en cirkel */
  display: grid; /* Brug flexbox til at arrangere indholdet */
  justify-content: center; /* lodret */
  align-items: center; /* vandret */
  text-align: center;
  color: white;
  font-size: var(--font-p-size);
}

.cirkel4 {
  margin-bottom: 5rem;
}

/***popover****/
.overlay {
  position: fixed; /*ligger fast oven på hele skærmen*/
  inset: 0; /*dækker hele skærmen (top, bund, venstre, højre = 0)*/
  background-color: var(--color-header);

  opacity: 0; /*usynlig som standard*/
  pointer-events: none; /*man kan klikke igennem den når den er skjult*/
  transition: 0.25s ease; /*gør fade smooth*/
}

.overlay.active {
  opacity: 1; /*overlay bliver synlig*/
  pointer-events: auto; /*man kan klikke på den (fx for at lukke popup)*/
}

[popover] {
  position: fixed; /*popup ligger fast på skærmen*/
  top: 50%; /*placerer den i midten*/
  left: 50%; /*placerer den i midten*/
  transform: translate(-50%, -50%) scale(0.5); /*centrerer den præcist, starter lidt mindre (til animation)*/

  opacity: 0; /*skjult som standard*/
  transition: 0.25s ease; /*smootj trans*/
  width: min(500px, 90vw); /*max 500px, men responsiv på mobil*/
  padding: 20px;
  background: var(--color-header);
  border-radius: 16px;
  border: 6px solid var(--color-bg);
}

[popover]:popover-open {
  opacity: 1; /*gør synlig*/
  transform: translate(-50%, -50%) scale(1); /*vokser til normal størrelse & gir fade/zoom*/
}

/****CTA****/

.open-btn {
  background: var(--color-bg);
  color: var(--color-footer);
  font-size: 1rem;
  padding-block: 5px;
  padding-inline: 15px;
  margin-inline: 0.5px;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.2s ease;
  border: solid 2px var(--color-footer);
  margin-block: 1rem;
  text-decoration: underline;
}

.open-btnn {
  background: var(--color-bg);
  color: var(--color-footer);
  font-size: 1rem;
  padding-block: 5px;
  padding-inline: 10px;
  margin-inline: 8px;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.2s ease;
  border: solid 2px var(--color-footer);
  margin-bottom: 0.5rem;
  text-decoration: underline;
}
.close-btn {
  margin-top: 15px;
  background: var(--color-btn2-bg);
  border: 1px solid var(--color-btn2-bg);
  color: var(--color-btn2-font);
  padding-inline: 2rem;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.2s ease;
}

/* hover effekt */

.open-btn:hover {
  background: var(--color-header);
  color: black;
}
.close-btn:hover {
  background: var(--color-btn2-bg-hover);
  color: var(--color-btn2-font);
}
.open-btnn:hover {
  background: var(--color-header);
  color: black;
}
.close-btnn:hover {
  background: var(--color-btn2-bg-hover);
  color: var(--color-btn2-font);
}
@media (min-width: 768px) {
  .open-btn {
    margin-bottom: 1rem;
    font-size: 1.5rem;
  }

  .open-btnn {
    font-size: 1.5rem;
  }

  .cirkel_box4 {
    display: grid;

    grid-template-rows: 1fr 1fr;
    height: auto;
    margin-bottom: 2rem;
    grid-template-columns: repeat(4, 280px);
    justify-content: center; /* samler hele gridet på midten */
    gap: 1rem; /* afstand mellem cirkler */
  }

  .billede_box4 {
    grid-column: 1 / -1;
    grid-row: 1 / -1;
    width: 82vw;
    height: auto;
  }
  .cirkel1 {
    width: 250px; /* Gør cirklen kvadratisk */
    height: 250px; /* Gør cirklen kvadratisk */
    grid-column: 1;
    grid-row: 1;
    justify-self: center; /*justify er vandret*/ /* self enkel elementer*/
    align-self: flex-end; /*align er lodret*/
  }
  .cirkel2 {
    width: 250px; /* Gør cirklen kvadratisk */
    height: 250px; /* Gør cirklen kvadratisk */
    grid-column: 2;
    grid-row: 2;
    justify-self: center; /*justify er vandret*/
    align-self: center; /*align er lodret*/
  }

  .cirkel3 {
    width: 250px; /* Gør cirklen kvadratisk */
    height: 250px; /* Gør cirklen kvadratisk */
    grid-column: 3;
    grid-row: 1;
    justify-self: center; /*justify er vandret*/
    align-self: flex-end; /*align er lodret*/
    margin-top: 1rem;
  }

  .cirkel4 {
    width: 250px; /* Gør cirklen kvadratisk */
    height: 250px; /* Gør cirklen kvadratisk */
    grid-column: 4;
    grid-row: 2;
    justify-self: center; /*justify er vandret*/
    align-self: center; /*align er lodret*/
  }

  [popover] {
    background: var(--color-bg);
    border-radius: 16px;
    border: 6px solid var(--color-header);
  }

  .btn_box4 {
    justify-content: center;
    font-family: var(--font-p-og-button);
    font-size: 2rem;
    letter-spacing: var(--font-letter-spacing);
    color: var(--color-btn1-font);
    background-color: var(--color-btn1-bg);
    border-radius: var(--border-radius-btn);
    box-shadow: var(--box-shadow);
    border: none;
    padding: 1.1rem;
    margin: auto;
    margin-block: 2rem;
    display: block;
  }

  .btn_box4:hover {
    background-color: var(--color-btn1-bg-hover);
  }

  .grid_1-1_box4 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 100%;
    margin-left: 4rem;
  }

  .tekst_box4 {
    text-align: left;
    padding-right: 8rem;
    line-height: 2rem;
  }
  .innerbox4 {
    padding-bottom: 2rem;
  }
  .banner_4 {
    margin-bottom: 4rem;
      padding-left:25px;
  }
}

/*****box5*****/
.box5 {
  background-color: rgb(154, 170, 150);
  display: grid;
  grid-template-columns: 1fr 9fr 1fr; /* Tre kolonner: en smal, en bred, og en smal */
  align-items: center; /* Juster alle elementer i midten */
  padding: 60px;
}

.Situationstegn-venstre {
  color: rgb(120, 131, 117);
  font-size: 4rem;
  font-style: arial;
  font-weight: bold;
  align-self: start; /* Placerer det øverst i grid */
  line-height: 2.6rem;
}

.Situationstegn-højre {
  color: rgb(120, 131, 117);
  font-size: 4rem;
  font-style: arial;
  font-weight: bold;
  align-self: end; /* Placerer det nederst i grid */
  line-height: 0.4rem;
}
.tekst_box5 {
  grid-template-columns: 2fr 10fr 2fr; /* Juster kolonnebredden for større skærme */
  font-style: italic;
}

.citat_box5 {
  font-style: italic;
}

@media (min-width: 768px) {
  .Situationstegn-venstre {
    margin-left: auto;
    font-style: arial;
    font-weight: bold;
    align-self: start; /* Placerer det øverst i grid */
  }

  .Situationstegn-højre {
    margin-right: auto;
    font-style: arial;
    font-weight: bold;
    align-self: end; /* Placerer det nederst i grid */
  }
  .box5 {
    grid-template-columns: 1fr 1.6fr 1fr; /* Tre kolonner: en smal, en bred, og en smal */
    padding-block: 2rem;
  }

  .tekst_box5 {
    padding-inline: 1rem;
  }
}

/*****box6*****/
.box6 {
  background-color: var(--color-header);
  padding: 5rem;
}

.tekst_box6 {
  margin-top: 2rem;
  background: var(--color-bg);
  color: var(--color-btn2-font);
  font-size: 1rem;
  padding-block: 5px;
  padding-inline: 10px;
  margin-inline: 8px;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.2s ease;
  border: none;
  background-color: rgb(154, 170, 150);
}

.konsultation_img {
  display: grid;
  grid-template-columns: 1fr; /* En kolonne */
  width: 100%;
  height: 150%;
  align-self: center; /* Juster billedet i midten af grid-cellen */
}

@media (min-width: 768px) {
  .konsultation_img {
    width: 80%;
    height: auto;
    align-self: center; /* Juster billedet i midten af grid-cellen */
    margin-inline: 9rem;
  }

  /* man skal lave grid for at få 2 elementer op på hinanden! og så SKAL man bruge position absoulut og relative for det virker!!*/
  .box6 {
    position: relative;
  }
  .tekst_box6 {
    position: absolute; /*gør at teksten placerer sig ovenpå*/
    left: 60%;
    bottom: 10%;
    transform: translate(-50%, -50%);
    padding: 2rem;
    background-color: var(--color-bg);
  }
}

/****box7*****/
.box7 {
  background-color: var(--color-box-bg);
}

.grid_1-1-1-1_box7 {
  background-color: var(--color-box-bg);
  margin-block: 2rem;
}
.box7 p {
  text-align: center;
}

.h3_box7 {
  text-align: center;
  margin-top: 3rem;
  font-style: bold;
}
.iconer_img_box7 {
  width: 150px;
  height: auto;
}

.iconer_box7 {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  flex-direction: column;
  margin-top: 2rem;
  background-color: var(--color-box-bg);
}

.overskrift_box7 {
  text-align: center;

  padding-block: 1rem;
  background-color: var(--color-bg);
  border: var(--color-banner-bg) 1px solid;
}

@media (min-width: 768px) {
  .grid_1-1-1-1_box7 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 2rem;
    background-color: var(--color-box-bg);
  }
  .iconer_box7 {
    background-color: var(--color-box-bg);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: relative;
  }
  .iconer img {
    width: 200px;
    height: 150px;
  }
  .h3_box7 {
    display: none;
  }

  .box7 {
    border: 20px solid var(--color-header);
  }
}
