/****************************************** css scroll animation ************************************/

/*************** blå progress bar i toppen af siden ***********/

/* before betyder inde i html men før alt andet indhold */
/* content skal man skrive for at putte noget ind, men vi skriver ikke noget derinde fordi vi ikke skal have indhold ind, men derimod bare en bar. Så vi siger at der skal noget ind og bagefter definerer hvad det er der skal ind */
/*  så indsætter vi noget, egentlig bare et eller andet og giver det en background color*/
html::before {
  content: "";
  inset: 0;
  background-color: #83a2a4;

  /* block size det er højden, (en anden måde at skrive højde på) som sørger for at den opfører sig som en lille kasse */
  block-size: 4px;

  /* i animationen skriver vi "both" på fill-mode gør at animationen bliver i stillingen, så den ikke "hopper" tilbage til startpunkt. Det er "both" der gør at den røde linje vil være helt fyldt ud når man er nede i bunden af siden, og forbliver der --> visuel indikator for hvad der er sket (altså at vi er nået bunden af siden) */
  animation: site-progress linear both;

  /* den skal ikke være på tid, men derimod styret af scroll */
  animation-timeline: scroll();

  /* det er vigtigt at skrive position: fixed fordi det betyder at det er oppe i toppen og den bliver i toppen */
  position: fixed;

  /* siger hvor den skal være, den er per default i center men vi vil gerne have at den starter ude til venstre */
  transform-origin: 0 0;

  /* for at være sikker på baren altid er yderst skriver man tyspisk et z-indeks på 1000, det er sjældent man skriver det så højt men på 1000 er den helt fremme - ellers vil man normalt give spring af 10.
  Fordi vi har sat vores header til at have et z-indeks på 1000 laver jeg et z-indeks på 1001 på progress baren (den skal jo ligge forrest for at man kan se den) */
  z-index: 1001;
}

/* nu skal vi lave keyframes til den, og vi kalder den "site-progress"  */
/* vi siger den skal starte (scale starter per default i midten af siden, men ved at sige 0 i højden og en i siderne så er det kun siderne der vokser */
/* vi skriver kun from (og ikke også to), fordi baren som udgangspunkt er fyldt helt ud */
@keyframes site-progress {
  from {
    scale: 0 1;
  }
}

/*********************** citat fade ind **************************/

.citat {
  /* kalder animationen, og giver den et navn ("gardin") */
  animation: fade-in 0.5s ease-in both;

  /* siger at animationen skal styres af view */
  animation-timeline: view();

  /* vi vil gerne have at animationen starter lige når den kommer ind på skærmen (0% inde) og slutter når den er 30% inde på siden, så den ikke først slutter når billedet forsvinder, for så bliver den aldrig rigtig opacity 1 */
  animation-range: 0% 30%;
}

/* laver animationen */
@keyframes fade-in {
  /* fra usynlig */
  from {
    opacity: 0;
  }

  /* til synlig */
  to {
    opacity: 1;
  }
}

/************************************************************ Forside *********************************************************/

/* beder div´en rundt om video om at være centreret */
.video {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* siger hvor meget selve videoen skal fylde (vigtigt at det er 100 viiwport width, frem for bare 100% for at override den padding der er lagt på main */
.video video {
  width: 100vw;
  height: auto;
}

/* centrerer book knap */
.book-forside {
  display: flex;
  justify-self: center;
  margin-block: 80px;
  text-decoration: none;
}

/****************************** Kropsterapi kasse ********************************/

/* jeg har lavet en span element om noget af min overskrift, og tillægger det samme style som vores p-tekst, for at få en sætning hvor første ord har vore h1/h2 styling og resten visuelt er "normal brødtekst" */
.p_kropsterapi {
  font-family: var(--font-p-og-button);
  font-size: var(--font-p-size);
  color: black;
}

.kropsterapi-desktop {
  display: none;
}

.kropsterapi {
  /* padding-bottom: 20px; */
  border-radius: var(--border-radius-box);
  margin-bottom: 40px;
}

.kropsterapi-mobil h1 {
  padding: 8px 16px 8px 16px;
  background-color: #acc9cc;
  width: 100%;
}

/* for at undgå at give en class (giver bedre overblik i min css) går jeg ind i den første div ved at sige div:first-of-type og ind i det første p ved at sige p:first-of-type */
.kropsterapi-mobil p {
  padding: 0px 16px 8px 16px;
  background-color: #acc9cc;
  width: 100%;
  margin-bottom: 80px;
}

/* gør blomst-svg mindre */
.grid1-2 img {
  width: 100px;
  justify-self: center;
  align-self: top;
}

/* sætter blomst og tekst ved siden af hinanden */
.grid1-2 {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 20px;
  align-items: center;
  justify-content: center;
  padding: 40px 10px 40px 10px;
  background-color: #a3aa82;
}

/******************************* Om mig kasse ********************************/

/* laver baggrundsfarve */
.teaser {
  background-color: var(--color-box-bg);
  margin-block: 100px;
  padding-bottom: 20px;
  margin-inline: 30px;
  border-radius: var(--border-radius-box);
}

.forloeb {
  background-color: var(--color-box-bg);
  margin-bottom: 150px;
}

.teaser img {
  display: block;
  border-bottom: 0.5px solid rgb(37, 37, 37);
  border-top-left-radius: var(--border-radius-box);
  border-top-right-radius: var(--border-radius-box);
}

/* tager fat i det p der ligger i den anden div (giver mig bedre overblik frem for en masse forskellige class´es) */
.teaser div:nth-of-type(2) p {
  padding: 20px;
}

/* inline block gør at baggrunden kun kommer om teksten. inline betyder at det kun kommer om teksten, og block betyder at det stadig opfører sig som et block element (så man kan stadig styre højde og bredde) */
.teaser h2 {
  display: inline-block;
  background-color: var(--color-h1-h2-bg);
  padding: 10px;
  text-align: left;
  margin-bottom: 0.5rem;
  border-radius: var(--border-radius-title-box);
}

/* sætter knappen ud til højre */
.button1 {
  display: flex;
  justify-self: flex-end;
  margin-right: 20px;
}

/********************************* Citat kasse ***************************/

/* giver elementet baggrundsfarve, og tekst farve. Sætter igen margin-inline: -100px på for at få div´en hele ud til kanterne. */
.citat {
  background-color: #83a2a4;
  color: white;
  padding: 20px;
}

.citat p:first-of-type {
  text-align: center;
  font-style: italic;
}

.citat p:nth-of-type(2) {
  text-align: right;
  padding-top: 20px;
}

/******************************* Forløb kasse ***************************/

/* "om mig" og "forløb" har samme layout, så derfor har jeg givet dem samme class, og skrevet en fælles styling under "om mig" her i css´en */

.button2 {
  display: flex;
  justify-self: flex-end;
  margin-right: 20px;
}

/******************************************************** DESKTOP **************************************************/

@media (min-width: 850px) {
  /* laver book knap usynlig, fordi den i desktop er i navigationsmenuen frem for under billedet */
  .book-forside {
    display: none;
  }

  /* laver kropsterapi-mobil usynlig, fordi den i desktop er erstattet af kropsterapi-desktop */
  .kropsterapi-mobil {
    display: none;
  }

  /************************* Video og kropsterapi tekst **********************/

  /* laver kropsterapi-desktop synlig */
  .kropsterapi-desktop {
    display: block;
  }

  /* grid på den div der er om videoen og teksten, for at kunne bede videoen om at fylde det hele og teksten om at ligge i en kolonne ovenpå
  Jeg sætter den rod som teksten ligger i som auto, for at rækken automatisk tilpasser sig teksten (når skærmen gøres mindre og bredere) og baggrundsfarven derved følger teksten */
  .video-kropsterapi {
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: 4fr auto 1fr;
  }

  /* beder videoen om at fylde det hele. */
  .video {
    grid-column: 1/-1;
    grid-row: 1/-1;
    width: 100vw;
  }

  /* beder teksten om at ligge i kolonne 1. 
  sætter baggrundsfarve på tekst */
  .kropsterapi-desktop {
    grid-column: 1;
    grid-row: 2;
    background-color: #acc9cc;
    border-radius: var(--border-radius-title-box);
  }

  /* .kropsterapi {
    background-color:;
  } */

  .kropsterapi-desktop h1,
  p {
    padding-inline: 30px;
    padding-block: 10px;
  }

  .grid1-2 p {
    padding-inline: 0;
  }

  /********************************* illustrationer og tekst **********************/

  /* illustrationer og tekst sættes ved siden af hinanden. Jeg sætter grid på frem for flex, fordi jeg gerne vil have hver div med tekst og illustrration til at fylde lige meget, og da jeg prøevde med flex så blev den første længere end de andre (måske fordi teksten er længere så den optager mere plads automatisk.
  Så jeg sætter grid på i stedet, for at kunne styre hvor meget de hver især fylder */
  .kropsterapi {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-block: 100px;
    padding-inline: 60px;
    justify-content: center;
    align-items: center;
  }

  /******************************** Teasers ****************************/

  /* laver grid på fordi jeg vil have billede og tekst i hver sin kolonne */
  .teaser {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0;
    margin-inline: 40px;
    max-width: 1400px;
    justify-self: center;
  }

  /* beder billedet om at ligge i første kolonne. Sætter højden til 600px, for at det ikke bliver for stort - div´en følger automatisk billedets højde
  Bruger object-fit:cover for at min bestemte højde ikke trækker i billedet, og bruger object-position: top for at den del som croppes af billedet er den nederste del */
  .teaser img {
    display: block;
    grid-column: 1;
    padding-top: 0;
    height: 600px;
    object-fit: cover;
    object-position: top;
    border-right: 1px solid rgb(37, 37, 37);
  }

  /* sætter et grid på teasers, for at undgå at skulle lave en masse padding og margin, så det er nemmere at styre uden at det hele rykker til hinanden */
  .grid1-1-1 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 4fr 1fr;
  }

  /* beder h2 om at lægge sig i kolonne 1, række1, og i centurm på y-aksen */
  .grid1-1-1 h2 {
    grid-column: 1/3;
    grid-row: 1;
    margin-top: 0.5rem;
    align-self: center;
  }

  /* beder p om at fylde alle kolonnerne i række 2 */
  .grid1-1-1 p {
    grid-column: 1/4;
    grid-row: 2;
  }

  /* beder knapperne om at fylde de to sidste kolonner i række 3, og sætter align-self: flex-end på for at få den til at ligge i bunden i højre side */
  .button1,
  .button2 {
    grid-column: 2/4;
    grid-row: 3;
    align-self: flex-end;
  }
}
