/*************** blå progress bar i toppen af siden ***********/

/* before betyder inde i html men før alt andet indhold */
/* content skal man skrive for at putte noget ind, men vi skriver ikke noget derinde fordi vi ikke skal have indhold ind, men derimod bare en bar. Så vi siger at der skal noget ind og bagefter definerer hvad det er der skal ind */
/*  så indsætter vi noget, egentlig bare et eller andet og giver det en background color*/
html::before {
  content: "";
  inset: 0;
  background-color: #83a2a4;

  /* block size det er højden, (en anden måde at skrive højde på) som sørger for at den opfører sig som en lille kasse */
  block-size: 4px;

  /* i animationen skriver vi "both" på fill-mode gør at animationen bliver i stillingen, så den ikke "hopper" tilbage til startpunkt. Det er "both" der gør at den røde linje vil være helt fyldt ud når man er nede i bunden af siden, og forbliver der --> visuel indikator for hvad der er sket (altså at vi er nået bunden af siden) */
  animation: site-progress linear both;

  /* den skal ikke være på tid, men derimod styret af scroll */
  animation-timeline: scroll();

  /* det er vigtigt at skrive position: fixed fordi det betyder at det er oppe i toppen og den bliver i toppen */
  position: fixed;

  /* siger hvor den skal være, den er per default i center men vi vil gerne have at den starter ude til venstre */
  transform-origin: 0 0;

  /* for at være sikker på baren altid er yderst skriver man tyspisk et z-indeks på 1000, det er sjældent man skriver det så højt men på 1000 er den helt fremme - ellers vil man normalt give spring af 10.
  Fordi vi har sat vores header til at have et z-indeks på 1000 laver jeg et z-indeks på 1001 på progress baren (den skal jo ligge forrest for at man kan se den) */
  z-index: 1001;
}

/* nu skal vi lave keyframes til den, og vi kalder den "site-progress"  */
/* vi siger den skal starte (scale starter per default i midten af siden, men ved at sige 0 i højden og en i siderne så er det kun siderne der vokser */
/* vi skriver kun from (og ikke også to), fordi baren som udgangspunkt er fyldt helt ud */
@keyframes site-progress {
  from {
    scale: 0 1;
  }
}


h2 {
  font-size: 1.5rem;
}

/******************** SECTION 1 ********************/

.min-historie-kasse {
  background-color: #c9d0a6;
  margin-block: 40px 80px;
  border-radius: var(--border-radius-box);
  margin-inline: 30px;
}

.video {
  padding: 15px 15px 0px 15px;
}

.video iframe {
  width: 100%;
  aspect-ratio: 16 / 9;
  border: 0;
  border-radius: var(--border-radius-box);
}

.title {
  display: inline-block;
  background-color: var(--color-h1-h2-bg);
  padding: 10px 30px 10px 25px;
  margin-top: 30px;
  border-radius: var(--border-radius-title-box);
}

.min-historie-kasse .tekst {
  padding: 20px 25px 40px 25px;
}

/******************** SECTION 2 ********************/

.full-width1 {
  background-color: var(--color-header);
  padding: 80px 30px 80px 30px;
}

.full-width1 img {
  border-radius: var(--border-radius-box);
}

.full-width1 .tekst {
  padding-top: 20px;
}

/******************** SECTION 3 ********************/

.min-uddannelse-kasse {
  background-color: #c9d0a6;
  margin-block: 80px;
  border-radius: var(--border-radius-box);
  margin-inline: 30px;
}

.min-uddannelse-kasse .tekst {
  padding: 20px 25px 32px 25px;
}

li {
  font-family: var(--font-p-og-button);
  font-size: var(--font-p-size);
  letter-spacing: var(--font-letter-spacing);
  line-height: 160%;
  margin-bottom: 0.5rem;
}

ul {
  padding-left: 1.5rem;
  margin-top: 0.5rem;
}

ul ul {
  padding-left: 1.5rem;
}

/******************** SECTION 4 ********************/

.full-width2 {
  background-color: var(--color-header);
  padding: 80px 30px 80px 30px;
}

.full-width2 img {
  border-radius: 6px 6px 0 0;
}

.full-width2 .title {
  background-color: #f5ece5;
  padding-left: 30px;
  margin-top: 0px;
}

.full-width2 .indhold {
  background-color: var(--color-box-bg);
  border-radius: 0 0 6px 6px;
  padding-top: 30px;
}

.full-width2 .tekst {
  padding: 20px 25px 40px 25px;
}

/********************* DESKTOP *********************/

@media (min-width: 850px) {
  h2 {
    font-size: 2rem;
  }

  /******************** SECTION 1 ********************/

  .min-historie-kasse {
    background-color: var(--color-bg);
    margin-inline: 350px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    margin-bottom: 100px;
  }

  .min-historie-kasse .indhold {
    background-color: var(--color-box-bg);
    border-radius: var(--border-radius-box);
    grid-column: 1 / -1;
    grid-row: 1 / -1;
  }

  .min-historie-kasse .video {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    margin-top: 16px;
  }

  .min-historie-kasse .video iframe {
    position: relative;
    width: auto;
    margin-top: 13px;
    margin-right: 35px;
}

  .title {
    padding: 10px 90px 10px 50px;
    margin-top: 50px;
  }

  .min-historie-kasse .tekst {
    display: grid;
    padding: 30px 50px 60px 50px;
  }

  .min-historie-kasse .tekst2 {
    width: 41ch;
    padding-top: 25px;
  }

  /******************** SECTION 2 ********************/

  .full-width1 {
    display: flex;
    align-items: center;
    padding: 60px 200px 60px 200px;
  }

  .full-width1 .tekst {
    padding: 0 0 0 50px;
    align-self: center;
  }

  .full-width1 img {
    height: 350px;
    width: auto;
  }

  /******************** SECTION 3 ********************/

  .min-uddannelse-kasse {
    margin: 100px 350px 100px 350px;
  }

  .min-uddannelse-kasse .tekst {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 50px;
    padding: 30px 50px 60px 50px;
  }

  ul {
    margin-top: 0;
  }

  /******************** SECTION 4 ********************/

  .full-width2 {
    display: flex;
    padding: 60px 200px 60px 200px;
  }

  .full-width2 img {
    height: 250px;
    width: auto;
    margin-right: 50px;
    border-radius: var(--border-radius-box);
  }

  .full-width2 .indhold {
    border-radius: var(--border-radius-box);
  }

  .full-width2 .tekst {
    padding: 30px 50px 60px 50px;
  }

  .full-width2 .title {
  padding-left: 50px
}
}
